services:
  - type: web
    name: dynamic-metal-updater
    env: docker
    plan: free
    dockerCommand: npm start
    envVars:
      - key: SHOPIFY_API_KEY
        sync: false
      - key: SHOPIFY_API_SECRET
        sync: false
      - key: SHOPIFY_APP_URL
        sync: false
      - key: SCOPES
        value: "write_products,read_products"
      - key: DATABASE_URL
        sync: false
      - key: GOLD_API_KEY
        sync: false
      - key: ENCRYPTION_KEY
        sync: false
      - key: NODE_ENV
        value: "production"
